body {
    background-color: #11101a;
    font-family: 'Playfair Display', serif;

}

.blur {
    position: absolute;

    width: 100vw;
    min-height: 100%;

    height: auto;
    z-index: 200;
    background-color: #11101a;
    display: flex;
    justify-content: center;
    align-items: center;
}

.load {

    width: 150px;
    height: 150px;
    background-image: url(https://i.pinimg.com/originals/8f/c3/21/8fc32146cbf72ae17430e05ecc8b61be.gif);
    background-position: center;
    background-size: cover;
}


.men {
    position: relative;
    border: 1px solid red transparent;

    margin-top: -62px;
    left: -300px;

    width: 300px;
    height: 100vh;
    background-color: #201f31d5;
    backdrop-filter: blur(3px);
    display: flex;
    flex-direction: column;

}



.men button {
    border: none;
    text-align: center;
    margin-top: 10px;
    color: white;
    font-size: large;
    height: 50px;
    background-color: transparent;
}

.men button:first-child {
    margin-top: 50px;
    background-image: url(src/back.png);
    background-repeat: no-repeat;
    background-size: 15px;
    background-position: 80px;
}

.men button:hover {
    background-color: #444444;
    cursor: pointer;
}

#Explore {
    margin-top: 150px;
}

@keyframes close {
    0% {
        position: relative;
        left: 0;

    }

    100% {
        position: relative;
        left: -300px;

    }

}

@keyframes open {
    0% {
        position: relative;
        left: -300px;
    }

    100% {
        position: relative;
        left: 0px;

    }

}


.icon_g {
    margin-top: -50px;

    margin-left: 80px;
    width: 75px;


    height: 60px;
}

.icon_g:hover {
    cursor: pointer;
}

.content {

    padding: 30px;
    height: auto;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    background-color: #11101a;

    gap: 20px;
    padding-top: 10px;

}

button {
    z-index: 10;
}

.video img {

    height: 100%;
    width: 100%;

}

.video {
    margin-top: 40px;

    height: 200px;
    width: 155px;
    display: flex;
    flex-shrink: 0;
    justify-content: center;
    align-items: end;
    z-index: 3;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;



}

.video p {

    position: absolute;
    font-size: 14px;
    margin-bottom: -30px;

}

#menu {
    border: none;
    margin-top: 14px;
    margin-left: 14px;
    background-image: url(src/menu.png);
    height: 35px;
    width: 35px;
    background-color: transparent;
    background-repeat: no-repeat;
    cursor: pointer;
}

body {
    margin: 0;
    padding: 0;
    color: white;
}

nav {
    margin-top: -1px;
    position: fixed;
    width: 100vw;

    height: 60px;
    z-index: 10;
    background-color: #201f31c7;
}

.container {
    height: auto;


    background-color: #11101a;

}

.slide {



    overflow: hidden;
    width: 99vw;

    scroll-behavior: smooth;
}

.slider {




    display: flex;

}

.img {

    width: 100%;
    height: 100%;
    z-index: 0;
    background-image: url(that-time-i-got-reincarnated-as-a-slime-pictures-7ksbwoa7inx5qkvr.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.cover {
    position: relative;

    width: 100vw;
    display: flex;
    justify-content: space-between;
    height: 550px;

    background-color: #2d2b442f;




}

.move {
    position: absolute;
    display: flex;
    height: 520px;

    display: flex;
    justify-content: end;
    left: 95%;
    flex-direction: column;

}

.btn {
    width: 50px;
    margin-bottom: 5px;
    border-radius: 5px;
    border: none;
    height: 30px;
    background-image: url(back.png);
    background-position: center;
    background-repeat: no-repeat;
    background-color: #504e4e;
    cursor: pointer;

}



.btn:last-child {

    rotate: 180deg;
    width: 50px;
    margin-bottom: 25px;
    border-radius: 5px;
    border: none;
    height: 30px;
    background-image: url(back.png);
    background-position: center;
    background-repeat: no-repeat;
    background-color: #504e4e;
}

.btn:hover {
    background-color: #ff6b81;
}


.cover button {
    border: none;

    border-radius: 25px;
    color: white;
    height: 30px;
    font-weight: bold;
    width: 70px;

}

#watch {
    cursor: pointer;
    background-color: #ff6b81
}

#details {
    cursor: pointer;
    background-color: #444;
}

.cover_text {
    padding-top: 190px;
    padding-left: 30px;
    margin-right: 5px;
    padding-bottom: 80px;
    position: relative;

    flex-shrink: inherit;


    width: 1000px;




}

.video:hover {
    cursor: pointer;
}

@media (width <=1322px) {
    .move {
        height: 450px;
        left: 94%;
    }

    .cover {
        height: 450px;
    }

    .cover_text {
        padding-top: 150px;
        padding-left: 50px;
        padding-bottom: 80px;
        position: relative;

        flex-shrink: inherit;
        width: 500px;
        z-index: 3;
        font-size: 10px;



    }

    .video {
        margin-top: 40px;

        height: 200px;
        width: 150px;
        display: flex;
        flex-shrink: 0;
        justify-content: center;
        align-items: end;


    }

    .video p {

        position: absolute;
        margin-bottom: -30px;

    }






}

@media (width <900px) {
    .move {
        position: absolute;
        left: 91%;
        height: 300px;
    }

    .cover {
        height: 300px;


    }

    .cover_text {
        padding-top: 75px;
        padding-left: 20px;
        padding-bottom: 80px;
        position: relative;

        flex-shrink: inherit;
        width: 500px;
        font-size: 10px;
        font-size: 8.5px;



    }

    .icon_g {

        margin-left: 50px;
    }
}

@media(width <=600px) {

    .video {
        width: 150px;
        height: 200px;
    }

    .video p {

        position: absolute;
        margin-bottom: -30px;

    }

    .move {
        height: 235px;
        left: 86%;
        z-index: 2;
    }

    .fill {
        position: absolute;

        width: 100vw;
        background-color: #4e4e6d75;
        z-index: 1;
        height: 260px;
        background-image: transparent;
    }

    .img {
        position: absolute;
        height: 100%;

        background-image: url(that-time-i-got-reincarnated-as-a-slime-pictures-7ksbwoa7inx5qkvr.jpg);
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        z-index: 0;

    }

    .cover {
        position: relative;
        height: 250px;
        display: flex;


    }

    .cover_text {
        position: relative;
        padding-top: 115px;
        padding-left: 20px;
        padding-bottom: 80px;

        width: 500px;
        height: 250px;
        font-size: 10px;
        font-size: 8.5px;
        z-index: 2;



    }
}


@media(width <=400px) {
    .men {
        width: 200px;
    }

    .content {
        gap: 10px;
    }

    .video {
        width: 140px;
        height: 180px;
    }

    .move {
        left: 80%;
        height: 230px;
        z-index: 5;
    }

    .men button:first-child {
        background-position: 35px;
    }

    .cover_text h1 {
        font-size: 13px;
        padding-top: 65px;
    }

    .cover_text h2 {
        display: none;
    }
}

@media(width <=350px) {
    .content {

        gap: 30px;
    }

    .video {
        width: 100px;
        height: 130px;
    }

    .move {
        left: 80%;
        height: 230px;
        z-index: 5;
    }

    .cover_text h1 {
        font-size: 13px;
        padding-top: 65px;
    }

    .cover_text h2 {
        display: none;
    }
}